<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="float-left w-100">
            <section class="float-left w-100 py-4 bg-light">
                <div class="container d-flex justify-content-center">
                    <h2>تغییر رمز ادمین</h2>
                </div>
            </section>
            
            <section class="float-left w-100 py-4">
                <div class="container">
                    
                    <form class="mx-auto" style="max-width: 450px;font-weight: 500;" action="/changePassword" method="POST">

                        <div class="form-group">
                            <label for="password">رمز عبور جدید:</label>
                            <input type="password" class="form-control"  name="password" id="password">
                        </div>

                        <button type="submit" class="btn btn-primary">تایید</button>
                    </form>
                </div>
            </section>
        </main>
        <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>