<% if (!isAuthenticated) { %>
    <!DOCTYPE html>
    <html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>اخطار</title>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrapCSS/bootstrap.min.css">
    
        <link rel="stylesheet" href="css/font.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/navigation.css">
        <link rel="stylesheet" href="css/footer.css">
        </head>
    
        <body>  
            <h3>لطفا ابتدا وارد شوید.</h3>
            <a href="/login">ورود</a>
        </body>
    </html>
    
    <% } %>
    <% if (isAuthenticated) { %>
    <%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/adminNavigation.ejs') %>
        <main class="float-left w-100">
            <section class="float-left w-100 py-4 bg-light">
                <div class="container d-flex justify-content-center">
                    <h2>ایجاد راهنمای جدید</h2>
                </div>
            </section>
            
            <section class="float-left w-100 py-4">
                <div class="container">
                    <form class="guide-form mx-auto" style="max-width: 450px;font-weight: 500;" action="/addguide/add" method="POST">
                        <div class="form-group">
                            <label for="title">عنوان راهنما:</label>
                            <input type="text" class="form-control" name="title" id="title">
                          </div>

                        <div class="form-group">
                            <label for="description">توضیحات:</label>
                            <input type="text" class="form-control"  name="description" id="description">
                        </div>

                        <div class="form-group">
                            <label for="date">آدرس سایت:</label>
                            <input type="text" class="form-control" name="url" id="url">
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <label>بخش مورد نظر:</label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="isForTeachers" name="isForTeachers" value="true">اساتید
                                </label>
                            </div>
    
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="isForStudents" name="isForStudents" value="true">دانشجويان
                                </label>
                            </div> 
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="isForStaff" name="isForStaff" value="true">کارکنان
                                </label>
                            </div>
    
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="isForGraduated" name="isForGraduated" value="true">دانش آموختگان
                                </label>
                            </div> 
    
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="isPublic" name="isPublic" value="true">عمومی
                                </label>
                            </div> 
                        </div>

                        <button type="submit" class="btn btn-primary">ارسال</button>
                      </form>
                </div>
            </section>
        </main>

        <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>
<% } %>
            