
<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/adminNavigation.ejs') %>
        <main class="float-left w-100">
            <section class="float-left w-100 py-4 bg-light">
                <div class="container d-flex justify-content-center">
                    <h2>ایجاد خبر جدید</h2>
                </div>
            </section>
            
            <section class="float-left w-100 py-4">
                <div class="container">
                    <form class="news-form mx-auto" style="max-width: 450px;font-weight: 500;" action="/addnews/add" method="POST">
                        <div class="form-group">
                            <label for="title">عنوان خبر:</label>
                            <input type="text" class="form-control" name="title" id="title" maxlength="30">
                          </div>

                        <div class="form-group">
                            <label for="description">توضیحات:</label>
                            <input type="text" class="form-control"  name="description" id="description" maxlength="70">
                        </div>

                        <div class="form-group">
                            <label for="text">متن خبر:</label>
                            <textarea class="form-control" rows="3"  name="text" id="text"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="text">آدرس تصویر :</label>
                            <input class="form-control" rows="3"  name="img" id="img">
                        </div>

                        <div class="form-group">
                            <label for="author">نویسنده:</label>
                            <input type="text" class="form-control" name="author" id="author">
                        </div>
                        
                        <div class="form-group">
                            <label for="date">تاریخ:</label>
                            <input type="text" class="form-control" name="date" id="date">
                        </div>

                        <button type="submit" class="btn btn-primary">ارسال</button>
                      </form>
                </div>
            </section>
        </main>

        <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>
            
            