<footer class="footer float-right bg-dark w-100 py-3">
    <div class="container">
        <div class="footer-content float-right text-light w-100">
            
            <div class="col-12 col-sm-6 col-md-4 float-right">
                <h4 class="py-2">دسترسی سریع</h4>
                <ul class="list-unstyled p-0">
                    <li><a href="#" class="text-decoration-none text-light">> مرکز فناوری اطلاعات</a></li>
                    <li><a href="#" class="text-decoration-none text-light">> سامانه گلستان</a></li>
                    <li><a href="#" class="text-decoration-none text-light">> سامانه فرم ها</a></li>
                    <li><a href="#" class="text-decoration-none text-light">> انجمن دانش آموختگان</a></li>
                </ul>                    
            </div>
            <div class="col-12 col-sm-6 col-md-4 float-right">
                <h4 class="py-2">اطلاعات تماس</h4>
                <ul class="list-unstyled p-0">
                    <li><i class="fa fa-map-marker" style="padding-left: 10px;"></i>نشانی: مازندران، بابل، خیابان شریعتی، دانشگاه صنعتی نوشیروانی بابل</li>
                    <li><i class="fa fa-at" style="padding-left: 10px;"></i>پست الکترونیکی: pr@nit.ac.ir</li>
                    <li><i class="fa fa-phone" style="padding-left: 10px;"></i>تلفن مرکز دانشگاه: 01132332071-4</li>
                    <li><i class="fa fa-fax" style="padding-left: 10px;"></i>دورنگار: 01132334201</li>
                    <li><i class="fa fa-envelope" style="padding-left: 10px;"></i>کد پستی: 47148-73113</li>
                    <li><i class="fa fa-envelope" style="padding-left: 10px;"></i>صندوق پستی: 484</li>
                </ul>
            </div>
            <div class="col-12 col-md-4 float-right d-flex justify-content-center">
                <img src="images/footer/66.png" alt="logo" class="logo">
            </div>
        </div>
    </div>
</footer>