<footer class="footer float-right bg-dark w-100 py-3">
    <div class="container">
        <div class="footer-content float-right text-light w-100">
            
            <div class="col-12 col-sm-6 col-md-4 float-right">
                <h4 class="py-2">دسترسی سریع</h4>
                <ul class="list-unstyled p-0">
                    <li><a href="#" class="text-decoration-none text-light">> مرکز فناوری اطلاعات</a></li>
                    <li><a href="#" class="text-decoration-none text-light">> سامانه گلستان</a></li>
                    <li><a href="#" class="text-decoration-none text-light">> سامانه فرم ها</a></li>
                    <li><a href="#" class="text-decoration-none text-light">> انجمن دانش آموختگان</a></li>
                </ul>                    
            </div>
            <div class="col-12 col-sm-6 col-md-4 float-right">
                <h4 class="py-2">اطلاعات تماس</h4>
                <ul class="list-unstyled p-0">
                    <li><a href="#" class="text-decoration-none text-light">نشانی: مازندران، بابل، خیابان شریعتی، دانشگاه صنعتی نوشیروانی بابل</a></li>
                    <li><a href="#" class="text-decoration-none text-light">پست الکترونیکی: pr@nit.ac.ir</a></li>
                    <li><a href="#" class="text-decoration-none text-light">تلفن: ۴-۰۱۱۳۲۳۳۲۰۷۱ مرکز تلفن دانشگاه</a></li>
                    <li><a href="#" class="text-decoration-none text-light">دورنگار: ۰۱۱۳۲۳۳۴۲۰۱</a></li>
                    <li><a href="#" class="text-decoration-none text-light">کد پستی: ۷۳۱۱۳-۴۷۱۴۸</a></li>
                    <li><a href="#" class="text-decoration-none text-light">صندوق پستی: ۴۸۴</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 float-right d-flex justify-content-center">
                <img src="./images/66.png" alt="logo" class="logo">
            </div>
        </div>
    </div>
</footer>