<%- include('includes/head.ejs') %>

    <link rel="stylesheet" href="./css/introduction.css">
</head>
<body>
    
    <%- include('includes/navigation.ejs') %>
<main class="float-left w-100">

    <section class="intro float-left w-100 pb-5 text-light">
        <div class="container">
            <div class="intro-content float-left w-100 d-md-flex align-items-center">
                <div class="col-12 col-md-6 order-md-1 float-right">
                    <h1 class="text-uppercase pt-4 text-shadow">معرفی مرکز و اهداف</h1>
                    <h3 class="text-uppercase pt-2">معرفی معرفی معرفی</h3>
                    <p class="pt-2">اين مركز در سال 1372 هجري شمسي در طبقه اول و دوم مجموعه آزمايشگاه هاي دانشكده برق و با استفاده از 20 عدد کامپیوتر 286 – 20MHz کار خود را آغاز کرد</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 float-right">
                    <img class="intro-img w-100" src="./images/intro/introduction1.jpg" alt="">
                </div>
            </div> 
        </div>
    </section>

    <section class="float-left w-100 py-4 bg-light">
        <div class="container">
            <div class="float-left w-100">
                <h2 class="text-center text-uppercase py-4">تاريخچه مركز فناوري اطلاعات</h2>
                <p class="about-us-p text-center">اين مركز در سال 1372 هجري شمسي در طبقه اول و دوم مجموعه آزمايشگاه هاي دانشكده برق و با استفاده از 20 عدد کامپیوتر 286 – 20MHz کار خود را آغاز کرد و هدف آن ارائه خدمات رايانه اي به دانشجويان، اعضاي هيئت علمي، اساتيد و كارمندان بود. در سال 1374 اولین شبکه دانشگاه بین سایت اساتید در طبقه اول و سایت دانشجویان در طبقه دوم توسط تکنولوژی Ethernet با توپولوژی Bus ایجاد گردید و از سیستم عامل شبکه Novell V3.11 برای مدیریت منابع استفاده گردید.
                    در سال 1375 تعداد 3 سالن براي دانشجويان كارشناسي، كارشناسي ارشد و دكترا در طبقه دوم ساختمان آزمايشگاه هاي دانشكده برق با تعداد 85 عدد كامپيوتر PC تجهيز شد كه براي استفاده دانشجويان فراهم و نرم افزارهاي تخصصي مربوط به رشته هاي تخصصي مهندسي در آنها نصب و راه اندازي شده بود. همچنين بخشي براي ارتقاء و رفع مشكلات سخت افزاري كامپيوتر هاي دانشگاه و بخشي نيز براي مديريت كاربران و رفع موارد نرم افزاري تخصيص داده شد.
                    در همين راستا در سال 1376 بنا به نياز اساتيد و دانشجويان، ضرورت به يك شبكه جامع كه به اينترنت نيز متصل باشد بيشتر احساس شد و با توجه به تاكيد و حمايت رياست وقت دانشگاه، اولين قدم با راه اندازي سايت اينترنت در مركز فناوري اطلاعات برداشته شد.
                </p>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <img src="./images/intro/intro-content.png" alt="" class="history-img">
            </div>
            
        </div>
    </section>
</main>
    <%- include('includes/footer.ejs') %>

<%- include('includes/end.ejs') %>