<%- include('includes/head.ejs') %>

<link rel="stylesheet" href="./css/guide.css">
</head>
<body>

<%- include('includes/navigation.ejs') %>

<main class="float-left w-100">
   
    <section class="guides float-left w-100 py-4">
        <div class="container">
            <div class="row float-left w-100 d-md-flex align-items-center">
                <div class="col-12 col-md-6 float-right">
                    <h4>راهنمای اساتید</h4>
                    <ul class="list-unstyled p-0">
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>در صورت فراموش شدن و یا تغییر شناسه شریف و رمز عبور باید چه کرد؟</a></li>
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>نحوه اطلاع از حجم باقی مانده اینترنت و گزارش مصرف چگونه است؟ در صورت درخواست حجم اینترنت اضافی چه کنم؟</a></li>
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>مدت اعتبار شناسه کاربری هر دانشجو چقدر است؟</a></li>
                    </ul>
                </div>

                <div class="active-systems col-12 col-md-6 float-right">
                    <h4>راهنمای دانشجویان</h4>
                    <ul class="list-unstyled p-0">
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>نام و رمز عبور پست الکترونیک خود را فراموش کرده ام، چه کنم؟</a></li>
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>مدت اعتبار شناسه کاربری هر دانشجو چقدر است؟</a></li>
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>نحوه اطلاع از حجم باقی مانده اینترنت و گزارش مصرف چگونه است؟ در صورت درخواست حجم اینترنت اضافی چه کنم؟</a></li>
                    </ul>
                </div>
                <div class="system-users col-12 col-md-6 float-right">
                    <h4>راهنمای کارکنان</h4>
                    <ul class="list-unstyled p-0">
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>نام و رمز عبور پست الکترونیک خود را فراموش کرده ام، چه کنم؟</a></li>
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>مدت اعتبار شناسه کاربری هر دانشجو چقدر است؟</a></li>
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>نحوه اطلاع از حجم باقی مانده اینترنت و گزارش مصرف چگونه است؟ در صورت درخواست حجم اینترنت اضافی چه کنم؟</a></li>
                    </ul>
                </div>

                <div class="active-systems col-12 col-md-6 float-right">
                    <h4>راهنمای عمومی</h4>
                    <ul class="list-unstyled p-0">
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>در صورت فراموش شدن و یا تغییر شناسه شریف و رمز عبور باید چه کرد؟</a></li>
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>نحوه اطلاع از حجم باقی مانده اینترنت و گزارش مصرف چگونه است؟ در صورت درخواست حجم اینترنت اضافی چه کنم؟</a></li>
                        <li><a href=""><i class="fa fa-circle" aria-hidden="true"></i>مدت اعتبار شناسه کاربری هر دانشجو چقدر است؟</a></li>
                    </ul>
                </div>
            </div>
            
        </div>  
    </section>

</main>
   
    <%- include('includes/footer.ejs') %>

<%- include('includes/end.ejs') %>