<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="./css/principals.css">

    </head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="float-left w-100">
    
        <section class="principals float-left w-100 py-4">
            <div class="container">
                <div class="container d-flex justify-content-center bg-dark text-light">
                    <h2 class="py-4">روسای مرکز از ابتدا تا کنون</h2>
                </div>
            
                <div class="principals-content float-left w-100">
                    <div class="float-left py-5 w-100 d-md-flex align-items-end">
                        <div class="col-12 col-md-5 float-left">
                            <img class="principals-img w-100 d-block mx-auto pb-4 pb-md-0" src="./images/principals/dr.j.vaseghi.jpg" alt="">
                        </div>
                        <div class="principals-text col-12 col-md-7 card float-left p-3 shadow border-0 new-rounded-left d-table mx-auto">
                            <div class="card-body pt-0">
                                <h5 class="card-title"> دکتر جواد واثقی امیری - استاد دانشکده مهندسی عمران</h5>
                                <p class="card-text">خلاصه رزومه علمی- پژوهشی و اجرایی دکتر جواد واثقی امیری</p>
                                <p class="card-text">متولد ۱۳۴۱ شهرستان بابل</p>
                                <p class="card-text">فارغ التحصیل مقطع کارشناسی از دانشگاه صنعتی شریف در سال ۱۳۶۶</p>
                                <p class="card-text">فارغ التحصیل مقطع کارشناسی ارشد از دانشگاه تربیت مدرس در سال ۱۳۶۹</p>
                                <p class="card-text">استاد دانشکده مهندسی عمران دانشگاه صنعتی نوشیروانی بابل</p>
                            </div>
                        </div>
                    </div>
                    <div class="float-left py-5 w-100 d-md-flex align-items-end">
                            <div class="col-12 col-md-5 order-md-2 float-right">
                            <img class="principals-img w-100 d-block mx-auto pb-4 pb-md-0" src="./images/principals/jhamid.png" alt="">
                        </div>
                        <div class="principals-text col-12 col-md-7 order-md-1 card float-right p-3 shadow border-0 new-rounded-right d-table mx-auto">
                            <div class="card-body pt-0">
                                <h5 class="card-title">حميد جزايري (Hamid Jazayeriy)</h5>
                                <p class="card-text">دانشکده مهندسی برق و کامپیوتر</p>
                                <p class="card-text">گروه آموزشی  کامپیوتر</p>
                                <p class="card-text">مرتبه علمی: استادیار</p>
                                <p class="card-text">گروه آموزشی  کامپیوتر</p>
                                <p class="card-text">مرتبه علمی: استادیار</p>
                            </div>
                        </div>
                    </div>
                    <div class="float-left py-5 w-100 d-md-flex align-items-end">
                        <div class="col-12 col-md-5 float-left">
                            <img class="principals-img w-100 d-block mx-auto pb-4 pb-md-0" src="./images/principals/dr.j.vaseghi.jpg" alt="">
                        </div>
                        <div class="principals-text col-12 col-md-7 card float-left p-3 shadow border-0 new-rounded-left d-table mx-auto">
                            <div class="card-body pt-0">
                                <h5 class="card-title"> دکتر جواد واثقی امیری - استاد دانشکده مهندسی عمران</h5>
                                <p class="card-text">خلاصه رزومه علمی- پژوهشی و اجرایی دکتر جواد واثقی امیری</p>
                                <p class="card-text">متولد ۱۳۴۱ شهرستان بابل</p>
                                <p class="card-text">فارغ التحصیل مقطع کارشناسی از دانشگاه صنعتی شریف در سال ۱۳۶۶</p>
                                <p class="card-text">فارغ التحصیل مقطع کارشناسی ارشد از دانشگاه تربیت مدرس در سال ۱۳۶۹</p>
                                <p class="card-text">استاد دانشکده مهندسی عمران دانشگاه صنعتی نوشیروانی بابل</p>
                            </div>
                        </div>
                    </div>
                    <div class="float-left py-5 w-100 d-md-flex align-items-end">
                            <div class="col-12 col-md-5 order-md-2 float-right">
                            <img class="principals-img w-100 d-block mx-auto pb-4 pb-md-0" src="./images/principals/jhamid.png" alt="">
                        </div>
                        <div class="principals-text col-12 col-md-7 order-md-1 card float-right p-3 shadow border-0 new-rounded-right d-table mx-auto">
                            <div class="card-body pt-0">
                                <h5 class="card-title">حميد جزايري (Hamid Jazayeriy)</h5>
                                <p class="card-text">دانشکده مهندسی برق و کامپیوتر</p>
                                <p class="card-text">گروه آموزشی  کامپیوتر</p>
                                <p class="card-text">مرتبه علمی: استادیار</p>
                                <p class="card-text">گروه آموزشی  کامپیوتر</p>
                                <p class="card-text">مرتبه علمی: استادیار</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </section>

    </main>
    <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>


