<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="./css/principles.css">

    </head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="float-left w-100">

        <section class="float-left w-100 py-4 bg-light">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <img class="principles-img overflow-auto col-12 float-right" src="images/principles/principles1.png" alt="news image">
                </div>
                <div class="d-flex justify-content-center">
                    <h2>قوانین و آیین نماه های حوزه فناوری اطلاعات</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <p>هدف از تدوین این سند تبیین سیاست‌ها، اصول و چارچوب‌هایی است که باید از سوی تمامی واحدهای داخل دانشگاه رعایت شود تا مرکز فناوری اطّلاعات و ارتباطات دانشگاه صنعتی شریف بتواند خدمات خود را با کیفیت مطلوب، امن و پایدار ارائه نماید. جهت رعایت اختصار و بهبود خوانایی متن، در ادامه این سند از تعاریف ذیل استفاده می‌گردد:

                        مرکز:
                        مرکز فناوری اطّلاعات و ارتباطات دانشگاه صنعتی شریف
                        پیمانکار:
                        هر کدام از پیمانکاران دانشگاه که مسئولیت ساختن ساختمان‌های جدید دانشگاه را بر عهده دارند.
                        عامل فناوری اطّلاعات (عامل):
                        مسئولین سایت، کارشناس فناوری اطّلاعات و هر شخص دیگری که در هر واحد مسئول خدمت‌رسانی در حوزه فناوری اطّلاعات به واحد مربوطه می‌باشد.
                        ماده ۱
                        با توجه به مسئولیت مرکز در ارائه خدمات شبکه به تمامی ساختمان‌های دانشگاه، شبکه هر ساختمان باید با هماهنگی مرکز طراحی و اجرا گردد. در صورت عدم رعایت این موضوع مرکز تعهدی در قبال کیفیت خدمات شبکه درون ساختمان نخواهد داشت.
                        ماده ۲
                        فرآیند طراحی و پیاده‌سازی شبکه ساختمان‌ها به ترتیب ذیل است:
                        طرح اولیه توسط مرکز و پس از دریافت نیازمندی‌ها از سوی بهره‌بردار ساختمان به پیمانکار ارائه می‌گردد.
                        پیمانکار پس از مطالعه قواعد و اصول طراحی شبکه (پیوست الف) طرح اولیه را بر روی نقشه ساختمان پیاده‌سازی کرده و جهت دریافت بازخورد به مرکز ارائه می‌نماید.
                        مرکز طرح پیاده‌سازی پیشنهادی را مورد بازبینی قرار می‌دهد.
                        در صورت نیاز به اصلاح طرح، مرکز در تعامل با پیمانکار، طرح را اصلاح خواهد نمود. طرح نهایی تایید شده مرکز لازم الاجرا می‌باشد.
                        در صورت تایید، مرکز لیستی از تجهیزات مورد نیاز را به بهره‌بردار جهت تهیه و تجهیز شبکه ارائه خواهد داد.
                        مرکز به عنوان ناظر بر حسن اجرای طرح نظارت خواهد نمود.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>