<%- include('../includes/head.ejs') %>

    </head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="float-left w-100">
    
        <section class="float-left w-100 py-4">
            <div class="container">
                <div class="container d-flex justify-content-center bg-dark text-light">
                    <h2 class="py-4">معرفی افراد و پرسنل</h2>
                </div>
                <div class="mt-4">
                    <div class="container d-flex justify-content-center">
                        <h4 class="py-2">رئیس</h4>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr class="bg-light">
                                <th scope="col">عکس</th>
                                <th scope="col">نام و نام خانوادگی</th>
                                <th scope="col">پست سازمانی</th>
                                <th scope="col">اطلاعات تماس</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><img src="images/staff/dr.j.vaseghi.jpg" width="100" height="100" alt="" srcset=""></th>
                                    <td> جواد واثقی امیری</td>
                                    <td>رئیس دانشگاه</td>
                                    <td>
                                        <p>jvaseghinit@gmail.com</p>
                                        <p>jvaseghi@nit.ac.ir</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="container d-flex justify-content-center">
                        <h4 class="py-2">معاونت ها</h4>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr class="bg-light">
                                <th scope="col">عکس</th>
                                <th scope="col">نام و نام خانوادگی</th>
                                <th scope="col">پست سازمانی</th>
                                <th scope="col">اطلاعات تماس</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><img src="images/staff/jhamid.png" width="100" height="100" alt=""></th>
                                    <td>حميد جزايري</td>
                                    <td> رئیس مرکز فناوری دانشگاه</td>
                                    <td>
                                        <p>jhamidnit@gmail.com</p>
                                        <p>jhamid@nit.ac.ir</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><img src="images/staff/sedighi.jpg" width="100" height="100" alt=""></th>
                                    <td>کورش صدیقی</td>
                                    <td>قائم مقام دانشگاه</td>
                                    <td>
                                        <p>ksedighi@gmail.com</p>
                                        <p>ksedighi@nit.ac.ir</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><img src="images/staff/DrMirzaei.jpg" width="100" height="100" alt=""></th>
                                    <td>محمد میرزایی</td>
                                    <td>رئیس دانشکده برق و کامپیوتر</td>
                                    <td>
                                        <p>mmirzayi@gmail.com</p>
                                        <p>mmirzayi@nit.ac.ir</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            
                <div class="mt-4">
                    <div class="container d-flex justify-content-center">
                        <h4 class="py-2">کارکنان</h4>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr class="bg-light">
                                <th scope="col">عکس</th>
                                <th scope="col">نام و نام خانوادگی</th>
                                <th scope="col">پست سازمانی</th>
                                <th scope="col">اطلاعات تماس</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><img src="images/staff/staff1.jpg" width="100" height="100" alt=""></th>
                                    <td>پرویز سقایی</td>
                                    <td>کارشناس تحصیلات تکمیلی</td>
                                    <td>
                                        <p>۰۱۱-۳۵۵۰۱۴۰۶</p>
                                        <p>p.saghaei@nit.ac.ir</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><img src="images/staff/staff2.jpg" width="100" height="100" alt=""></th>
                                    <td>عهدیه پیاب</td>
                                    <td>کارشناس آموزش کارشناسی</td>
                                    <td>
                                        <p>۰۱۱-۳۵۵۰۱۴۰۵</p>
                                        <p>apayab@nit.ac.ir</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><img src="images/staff/staff3.gif" width="100" height="100" alt=""></th>
                                    <td>مسئول دفتر دانشکده برق</td>
                                    <td>مسئول دفتر دانشکده برق</td>
                                    <td>
                                        <p>۰۱۱-۳۵۵۰۱۴۰۰</p>
                                        <p>h.goli@nit.ac.ir</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><img src="images/staff/staff4.jpg" width="100" height="100" alt=""></th>
                                    <td>سید محمد پورصادق</td>
                                    <td>مربی آزمایشگاه ها</td>
                                    <td>
                                        <p>۰۱۱-۳۵۵۰۱۴۰۰</p>
                                        <p>ksedighi@gmail.com</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="container d-flex justify-content-center">
                        <h4 class="py-2">دانشجویان همکار</h4>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr class="bg-light">
                                <th scope="col">عکس</th>
                                <th scope="col">نام و نام خانوادگی</th>
                                <th scope="col">پست سازمانی</th>
                                <th scope="col">اطلاعات تماس</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><img src="images/staff/student1.jpg" width="100" height="100" alt=""></th>
                                    <td>نام دانشجوی اول</td>
                                    <td>حل تمرین درس</td>
                                    <td>
                                        <p>studentnit@gmail.com</p>
                                        <p>studentnit@nit.ac.ir</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><img src="images/staff/student2.jpg" width="100" height="100" alt=""></th>
                                    <td>نام دانشجوی دوم</td>
                                    <td>حل تمرین درس</td>
                                    <td>
                                        <p>student@gmail.com</p>
                                        <p>studentnit@nit.ac.ir</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><img src="images/staff/student1.jpg" width="100" height="100" alt=""></th>
                                    <td>نام دانشجوی سوم</td>
                                    <td>حل تمرین درس</td>
                                    <td>
                                        <p>student@gmail.com</p>
                                        <p>studentnit@nit.ac.ir</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>  
        </section>

    </main>
    <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>


